$active-color: rgb(250, 74, 12);
$dark-color: #252b42;
$semi-dark-color: #737373;
$hr-color: #e4e4e4;
$light-color: #f7f7f7;
$basic-color: #ffffff;
$copyright-color: #5c5c5c;

$header-bg: url("/imgs/header-bg.png");
$footer-bg: url("/imgs/footer-bg.png");

$font-title-xxl: 58px;
$font-title-xl: 44px;
$font-content-title-l: 40px;
$font-content-m: 24px;
$font-small-content-s: 16px;
$font-footer-xs: 12px;

$body-font-family: "Montserrat";
$title-font-family: "Poppins";
