footer {
  color: $basic-color;
  letter-spacing: 0.2px;

  .footer-bg {
    background-image: $footer-bg;
    background-size: 100% 100%;
    background-position: start;
    background-repeat: no-repeat;
    height: 507px;

    h2 {
      font-family: $title-font-family;
      font-size: $font-content-title-l;
    }
  }

  .social-icons i {
    color: $active-color;
    font-size: $font-content-title-l;
  }

  .copyright {
    font-size: $font-footer-xs;
    color: $copyright-color;
  }
}
